<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="p1"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="home"><img src="images/home.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Home</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/harmony/harmony_thumb.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Group project</p>
			<span><strong>Main task: </strong></span><p>Design language, App design</p>
			<span><strong>Time: </strong></span><p>Jan.2017 ~ March.2017</p>
			<span><strong>Tools: </strong></span><p>Figma</p>
		</div>
		<div class="col-lg-12 description">
			<p><span class="keyword">Harmony Design</span> is a modern design language which has three main princples: Effortless, Tailored, and Integrated.<br>
			Inspired by both iOS and Material Design, Harmony design looks familiar but also has distinctive features.</p>
	
			<a class="btn" href="pdf/harmony.pdf" target="_blank">Design Brief</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>Home and lock screens without pyhsical home button</p>
			<img class="contentImg" src="images/harmony/main.png"/>
			<p><span class="keyword">"Cabinet"</span> has notifications and the app drawers</p>
			<img class="contentImg" src="images/harmony/cabinet.png"/>
			<p>Following screens are the main view of several <span class="keyword">defulat apps</span>, such as dialer and camera</p>
			<img class="contentImg" src="images/harmony/dialer1.png"/>
			<img class="contentImg" src="images/harmony/dialer2.png"/>
			<img class="contentImg" src="images/harmony/camera.png"/>
			<img class="contentImg" src="images/harmony/photo.png"/>
			<img class="contentImg" src="images/harmony/message.png"/>
			<img class="contentImg" src="images/harmony/calendar.png"/>
			<img class="contentImg" src="images/harmony/player.png"/>
			<img class="contentImg" src="images/harmony/map.png"/>
			<img class="contentImg" src="images/harmony/calc.png"/>



	</section>


</div>