<div id="works">
      <video width="100%" height="80%" autoplay>
        <source src="vid/title.mp4" type="video/mp4">
      </video>
      <div id="headTextMain">Woosuk Seo</div>
      <div id="headTextSub">Dynamic UX Designer</div>
      <!-- <div id="header"></div> -->
      
      <section id="workSection" class="container-fluid">
        <div class="picBox">
          <div class="subHead"> Works </div>
          <div class="boxRow">
              
            <div id="img1" class="col-md-3 image-container">
                <div class="after"><a ui-sref="p1"><p>Web Design</p></a></div>
              </div>
            <div id="img2" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p2"><p>Web Design</p></a></div>
            </div>
            <div id="img3" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p3"><p>Mobile Design</p></a></div>
            </div>
            <div id="img4" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p4"><p>Web Development</p></a></div>
            </div>
            <div id="img5" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p5"><p>Infographic</p></a></div>
            </div>
          </div>
        </div>
      </section>

      <section class="container-fluid">
            <div class="picBox">
              <div class="subHead"> Skills </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/graphic0.png" alt="coding img">
                <img class="imgBox" src="images/graphic1.png" alt="coding img">
                <img class="imgBox" src="images/graphic2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/prototype0.png" alt="coding img">
                <img class="imgBox" src="images/prototype1.png" alt="coding img">
                <img class="imgBox" src="images/prototype2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/coding0.png" alt="coding img">
                <img class="imgBox" src="images/coding1.png" alt="coding img">
                <img class="imgBox" src="images/coding2.png" alt="coding img">
                <img class="imgBox" src="images/coding3.png" alt="coding img">
              </div>
            </div>
      </section>
</div>