<div>
<!--       <video width="100%" height="80%" autoplay>
        <source src="vid/title.mp4" type="video/mp4">
      </video> -->
<!--       <div id="headTextMain">Woosuk Seo</div>
      <div id="headTextSub">Dynamic UX Designer</div> -->
      <div id="header">
        <div id="btnBox">
        <a class="mainBtn" href="#/#workSection">Explore Works</a>
        <a class="mainBtn" href="#/#profileSection">About Woosuk</a>
        </div>
      </div>
      <div class="quoteSection">
       <div class="quoteContent">Good design is as little design as possible</div>
       <div class="quoteBy">- Dieter Rams</div>
      </div>
      <section id="workSection" class="container-fluid homeSections">
        <h2> Works </h2>
        <div class="picBox">
<!--           <div class="boxRow"> -->
            <div id="img1" class="col-md-3 image-container">
                <div class="after"><a ui-sref="p1"><p>Web Design</p></a></div>
              </div>
            <div id="img2" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p2"><p>Web Design</p></a></div>
            </div>
            <div id="img3" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p3"><p>Mobile Design</p></a></div>
            </div>
            <div id="img4" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p4"><p>Web Development</p></a></div>
            </div>
            <div id="img5" class="col-md-3 image-container">
              <div class="after"><a ui-sref="p5"><p>Infographic</p></a></div>
            </div>
            <div id="imgEmpty" class="col-md-3 image-container"></div>
<!--           </div> -->
        </div>
      </section>

      <section id="skillSection" class="container-fluid homeSections">
        <h2> Skills </h2>
            <div class="picBox">
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/graphic0.png" alt="coding img">
                <img class="imgBox" src="images/graphic1.png" alt="coding img">
                <img class="imgBox" src="images/graphic2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/prototype0.png" alt="coding img">
                <img class="imgBox" src="images/prototype1.png" alt="coding img">
                <img class="imgBox" src="images/prototype2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/coding0.png" alt="coding img">
                <img class="imgBox" src="images/coding1.png" alt="coding img">
                <img class="imgBox" src="images/coding2.png" alt="coding img">
                <img class="imgBox" src="images/coding3.png" alt="coding img">
              </div>
            </div>
      </section>

      <section id="profileSection" class="container-fluid homeSections">
        <h2 style="color:white"> Profile </h2>
        <a href="images/woosuk.jpg" data-lightbox="profile" data-title="Woosuk Seo (Graphic Designer)">
        <div class="profilePic col-lg-6" style = 'background-image: url(images/woosuk.jpg)'></div></a>
        <div id="profileText" class="col-lg-6">
         I am a senior UW student majoring in Informatics, graduating June 2017. My interest is UX design and research. I have taken several courses related to user experience and Human-Computer Interaction. I also have web design internship experience at a startup in Korea. Recently, I published a research paper (interactive poster) along with two coauthors. Please feel free to contact me at <a href="mailto:seow@uw.edu">seow@uw.edu</a> or email <a href="tel:206-310-9264">206-310-9264</a> for more information.
        </div>
        <div id="btnBox2" class="col-lg-12">
          <a class="mainBtn" href="https://drive.google.com/file/d/0B7Ss7FMZkWEtREdHRFliVGJpZjA/view?usp=sharing" target="_blank">Resume</a>
          <a class="mainBtn" href="https://www.linkedin.com/in/woosuk-seo-b7aa75109" target="_blank">LinkedIn</a>
        </div>
      </section>
</div>