<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="p2"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="harmony"><img src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/p1/moudaMain.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Internship (Mouda)</p>
			<span><strong>Main task: </strong></span><p>Responsive Web design</p>
			<span><strong>Time: </strong></span><p>July.2016 ~ Sept.2016</p>
			<span><strong>Tools: </strong></span><p>Adobe Experience Design</p>
		</div>
		<div class="col-lg-12 description">
			<p><a href="https://mouda.kr/" target="_blank"><u><span class="keyword">Mouda</span></u></a> is a startup in Korea, which provides peer-to-peer lending platform. <br>
			For 3 months, I worked as web design intern at Mouda.<br>
			The main task was to design a <span class="keyword">responsive web site</span> from scratch.</p>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>During the internship, I spnet most of my time on designing <span class="keyword">the main page.</span><br>
			At first, I designed the main page with pictures and few texts so that <br> it catches the users eyes first, and then explains about P2P lending and the company.</p>
			<img class="contentImg" src="images/p1/old_main.png"/>
			<p>However, after the closed beta testing, we realized that <br>
			some users including those old elders who are not familiar with <br>
			such website need <span class="keyword">a guide for using the website</span>.</p>
			<p> So, I created <span class="keyword">tutorial videos</span> and added them into the main page.<br>
			The users can choose the guide video from the tab which says<br>
			"Registration Guide", "Investing guide" and "Lending Guide"<br>
			The users were satisfied with the tutorial videos.</p> 
			<img class="contentImg" src="images/p1/main.png"/>
			<p> Although <a href="https://mouda.kr/" target="_blank"><u><span class="keyword">the current webisite</span></u></a> has changed, <br>
			the layout is still the same as I designed. <br>
			The following images are the primary designs for each page of the website.</p>
			<br>
			<div class="miniBox grid">
				<a href="images/p1/signup.png" data-lightbox="original" data-title="Sign-up Page: sign-up modal is shown above the main page"><img class="miniImg grid-item" src="images/p1/signup.png" alt="sign-up page"/></a>
				<a href="images/p1/invest.png" data-lightbox="original" data-title="Investment Page: the list of investment items are shown"><img class="miniImg grid-item" src="images/p1/invest.png" alt="Investment page"/></a>
				<a href="images/p1/invest_item.png" data-lightbox="original" data-title="Investment Item Page: the detail inforamtion about the item is shown"><img class="miniImg grid-item" src="images/p1/invest_item.png" alt="Investment item page"/></a>
				<a href="images/p1/setting.png" data-lightbox="original" data-title="Setting Page: Overall view for transaction and account settings"><img class="miniImg grid-item" src="images/p1/setting.png" alt="Setting page"/></a>
				<a href="images/p1/contact.png" data-lightbox="original" data-title="Contact Page: contact information and the link to Q&A page is shown"><img class="miniImg grid-item" src="images/p1/contact.png" alt="Contact page"/></a>
				<a href="images/p1/signup_mobile.png" data-lightbox="mobile" data-title="Sign-up Mobile: sign-up form is on the menu sidebar"><img class="miniImg grid-item" src="images/p1/signup_mobile.png" alt="sign-up mobile"/></a>
				<a href="images/p1/main_mobile.png" data-lightbox="mobile" data-title="Main Mobile: the main page in mobile version"><img class="miniImg grid-item" src="images/p1/main_mobile.png" alt="main mobile"/></a>
				<a href="images/p1/invest_mobile.png" data-lightbox="mobile" data-title="Invest Mobile: the list of investment items are shown"><img class="miniImg grid-item" src="images/p1/invest_mobile.png" alt="invest mobile"/></a>
				<a href="images/p1/setting_mobile.png" data-lightbox="mobile" data-title="Setting Mobile: Overall view for transaction and account settings"><img class="miniImg grid-item" src="images/p1/setting_mobile.png" alt="Setting mobile"/></a>
			</div>	
		</div>

	</section>
</div>