<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="p3"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="p1"><img src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/p2/haven_thumb.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Group project</p>
			<span><strong>Main task: </strong></span><p>Wireframe, Prototype</p>
			<span><strong>Time: </strong></span><p>Jan.2016 ~ Mar.2016</p>
			<span><strong>Tools: </strong></span><p>Sketch, Power Point</p>
		</div>
		<div class="col-lg-12 description">
			<p><span class="keyword">Haven</span> is a parking reservation application.<br>
			It is served in two platforms:  <span class="keyword">website</span> for long-term parking and  <span class="keyword">mobile app</span> for short-term parking<br>
			For this project, all design decisions are made after discussions with members.<br>
			Within the group of 6 members, my main task was to create a <span class="keyword">wireframe</span> and <span class="keyword">prototype</span> for the website.</p>
			<p>For the last deliverable, we had to create a <span class="keyword">final project documentation</span> for Haven.<br>
			This documentation is for our client, a fake company called Data Solution, <br>as a result of their request for an parking application that utilizes their data.</p>
			<a class="btn" href="pdf/haven.pdf" target="_blank">Haven Documentation</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>Based on the basic functions of Haven, I created <span class="keyword">the sitemap</span>.<br>
			Sitemap describes the <span class="keyword">basic layout</span> and <span class="keyword">interconnectivity</span> of the pages on both platforms</p>
			<img class="contentImg" src="images/p2/sitemap.png"/>
			<p>After several group meetings, we made low-fidelity design decisions which are used for <span class="keyword">wireframes.</span></p>
			<p>First one is for main(home) page.</p>
			<img class="contentImg" src="images/p2/wire1.png"/>
			<p>Second one is for searching page.</p>
			<img class="contentImg" src="images/p2/wire2.png"/>
			<p>Improving on the wireframes, I created two different low-fidelity protypes for <span class="keyword">A/B testing</span>.</p>
			<p><span class="keyword">Version A:</span> Search for parking immediately.</p>
			<img class="contentImg" src="images/p2/A_home.png"/>
			<p><span class="keyword">Version A:</span> Anonymous viewing.</p>
			<img class="contentImg" src="images/p2/A_search.png"/>
			<p><span class="keyword">Version B</span> Sign up for an account first.</p>
			<img class="contentImg" src="images/p2/B_home.png"/>
			<p><span class="keyword">Version B</span> User with an account viewing.</p>
			<img class="contentImg" src="images/p2/B_search.png"/>
			<p>Based on the feedback from A/B testing, we concluded three main design features for web platform:<br>
		 	1. Use the ‘try it before you buy it’ model <br>
		 	2. Keep the search bar prominently featured <br>
		 	3. Include some information about our product above the fold</p>
		 	<p>Using these features, I created the <span class="keyword">final refined version</span> of prototype.</p>
		 	<div id="haven1" class="col-lg-12 image-container2">
		 		<div class="after2"><p>Main page with collapsed process description section.</p></div>
		 	</div>
		 	<div id="haven2" class="col-lg-12 image-container2">
		 		<div class="after2"><p>Main page with expanded process description section.</p></div>
		 	</div>
		 	<div id="haven3" class="col-md-3 image-container2">
		 		<div class="after2"><p>Search page with the list of parking spaces.</p></div>
		 	</div>
		 	<div id="haven4" class="col-md-3 image-container2">
		 		<div class="after2"><p>Search page with reservation process.</p></div>
		 	</div>
		 	<div id="haven5" class="col-md-3 image-container2">
		 		<div class="after2"><p>Search page with reservation confirmation.</p></div>
		 	</div>
		</div>
	</section>


</div>