<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="p4"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="p2"><img src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/p3/app_thumb.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Group project</p>
			<span><strong>Main task: </strong></span><p>Wireframe, Testing, Design Decision</p>
			<span><strong>Time: </strong></span><p>Sep.2015 ~ Dec.2015</p>
			<span><strong>Tools: </strong></span><p>Sketching, Power Point</p>
		</div>
		<div class="col-lg-12 description">
			<p><span class="keyword">Appetite</span> is a mobile application that provides coupons to students for cheaper breafast.<br>
			This project is initiated from the theme of "Survive from College".<br> My group identified that a major problem that college students have is <span class="keyword">skipping breakfast</span>.<br> After brainstorming and ideation, we created a <span class="keyword">prtotype</span> and a <span class="keyword">design specification</span>.<br>
			Within the group of 3 members, my main tasks were <span class="keyword">graphic design</span>,<span class="keyword">wireframes</span> and <span class="keyword">user testing</span>. <br> The <span class="keyword">Process Book</span> includes details about problem idenfication, brainstorming, and prototyping.</p>
	
			<a class="btn" href="pdf/appetite.pdf" target="_blank">Design Specification</a>
			<a class="btn" href="http://students.washington.edu/seow/process-book/" target="_blank">Process Book</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>When we identified the problem, each member came up with a wireframe for possible solution.<br>
			My idea was a <span class="keyword">coupon alarm app</span> which provides breakfast deals only for limited morning time.</p>
			<img class="contentImg" src="images/p3/wire1.png"/>
			<img class="contentImg" src="images/p3/wire2.png"/>
			<img class="contentImg" src="images/p3/wire3.png"/>

			<p>After individual testing and discussion, my group agreed on choosing my idea to develop as our solution.<br>
			We conducted <u><a href="https://en.wikipedia.org/wiki/Heuristic_evaluation" target="_blank"><span class="keyword">heauristic evaluation</span></a></u> on our low-fidelity <span class="keyword">mockup.</span></p>
			<img class="contentImg" src="images/p3/mockup1.png"/>
			
			<p>Conducting more user tests and revising mockup, we created <span class="keyword">the final prototype</span> in the end.</p>
			<img class="contentImg" src="images/p3/prototype1.png"/>
			<img class="contentImg" src="images/p3/prototype2.png"/>
			<img class="contentImg" src="images/p3/prototype3.png"/>
			<img class="contentImg" src="images/p3/prototype4.png"/>

	</section>


</div>