<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="p5"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="p3"><img src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/p4/pkp_thumb.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Group project</p>
			<span><strong>Main task: </strong></span><p>Front End Development</p>
			<span><strong>Time: </strong></span><p>Nov.2015 ~ Dec.2015</p>
			<span><strong>Tools: </strong></span><p>HTML, CSS, Javascript</p>
		</div>
		<div class="col-lg-12 description">
			As a final project of the Client-Side Web Development class, my group built a website for a fraternity.<br> Originally, the fraternity did not have a website. Thus, we researche on the websites of other fraternities.<br>
			My main tasks were <span class="keyword">creating wireframe</span>,<span class="keyword">developing the main page</span> and <span class="keyword">editing overall CSS</span>. <br> Few months after the project is done, the actual website is published just like we designed and built.</p>
	
			<a class="btn" href="http://uwpikappaphi.com/#/" target="_blank">Visit PKP Website</a>
			<a class="btn" href="https://github.com/mtn217/PKP-Site" target="_blank">Github repository</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>Due to limited time, I created a <span class="keyword">simple mockup</span> so that we could decide which tools we will use.</p>
			<img class="contentImg" src="images/p4/mockup.png"/>
			
			<p>Each member is assigned a page to build. I was responsible for <span class="keyword">the main page</span><br>
			In addition, I edited the <span class="keyword">overall CSS</span> for the <span class="keyword">design consistency.</span>.</p>
		 	<div id="pkp1" class="col-lg-12 image-container2">
		 		<div class="after2"><p>Main Page</p></div>
		 	</div>
		 	<div id="pkp2" class="col-lg-12 image-container2">
		 		<div class="after2"><p>Recruit Page</p></div>
		 	</div>
		 	<div id="pkp3" class="col-md-3 image-container2">
		 		<div class="after2"><p>Contact Page</p></div>
		 	</div>
		 	<div id="pkp4" class="col-md-3 image-container2">
		 		<div class="after2"><p>Hidden signin form for admin</p></div>
		 	</div>

	</section>


</div>