<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="home"><img src="images/home.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Home</span></a>
		<a class="floatingLeft" ui-sref="p4"><img src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/p5/graphic_thumb.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Individual project</p>
			<span><strong>Main task: </strong></span><p>Infographic Design</p>
			<span><strong>Time: </strong></span><p>Sept.2016 ~ Dec.2016</p>
			<span><strong>Tools: </strong></span><p>Illustrator, Photoshop, Tableau</p>
		</div>
		<div class="col-lg-12 description">
			For the project at <span class="keyword">Visual Information Design</span> class, I crated an inforgraphic about iPhone.<br> The infographic includes five <span class="keyword">visual potensials</span>:Appearance, Numbers, Location, Time, and Relationship.<br>
			Details processes about the infographic is shown at the following portfolio website. </p>
	
			<a class="btn" href="http://jjang8661.wixsite.com/infovis-2016" target="_blank">Portfolio Website</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<img class="contentImg" src="images/p5/final_infographic.png"/>

	</section>


</div>