
      <section id="profileSection">
        <div class="nameSection">
          <div class="nameContent keyword">Woosuk Seo</div>
          <div class="nameSub" style="font-size:12px">BS Informatics at University of Washington<br>Expected to graduate in June 2017</div>
        </div>
        <div id="profileText">
         I am a <span class="keyword">thinking designer</span>, contemplating how to make all users have the best experience.<br> My interests are UX design and research, Web design and Human-Computer Interactions.<br>
         I like to watch movies, to eat pasta with extra sauce, to drink caramel frappuccino and to learn about anything new. <br>
        </div>
        <div id="btnBox">
          <a class="mainBtn" href="pdf/resume.pdf" target="_blank">Resume</a>
          <a class="mainBtn" href="https://www.linkedin.com/in/woosuk-seo-b7aa75109" target="_blank">LinkedIn</a>
        </div>
        <div id="profilePic"></div>
        <div id="profileMsg">I am looking forward to hear from you</div>

      </section>