<div class="partials">

      <section id="skills" class="container-fluid">
        <h2>Skills</h2>
            <div class="picBox">
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="/images/graphic0.png" alt="coding img">
                <img class="imgBox" src="/images/graphic1.png" alt="coding img">
                <img class="imgBox" src="/images/graphic2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="/images/prototype0.png" alt="coding img">
                <img class="imgBox" src="/images/prototype1.png" alt="coding img">
                <img class="imgBox" src="/images/prototype2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="/images/coding0.png" alt="coding img">
                <img class="imgBox" src="/images/coding1.png" alt="coding img">
                <img class="imgBox" src="/images/coding2.png" alt="coding img">
                <img class="imgBox" src="/images/coding3.png" alt="coding img">
              </div>
            </div>
      </section>

      <section id="works" class="container-fluid diffDiv">
        <h2>Featured Works</h2>
        <div class="picBox">
          <div class="cold-mid-4">
            <a href="images/meeting.jpg" data-lightbox="workImg" data-title="Images for featured works"><img class="onePic" src="images/meeting.jpg" alt="At group meeting"/></a>
          </div>
          <div class="cold-mid-4">
            <a href="images/meeting.jpg" data-lightbox="workImg" data-title="At group meeting"><img class="onePic" src="images/meeting.jpg" alt="At group meeting"/></a>
          </div>
      </section>

      <section id="contact" class="container-fluid diffDiv">
        <h2>Contact</h2>

        <div class="col-md-6">
          <h4>WOOSUK SEO</h4>
          <a href="images/woosuk.jpg" data-lightbox="profile" data-title="Woosuk Seo"><div class="profilePic" style = 'background-image: url(images/woosuk.jpg)'></div></a>
        </div>
        <div class="col-md-6">
            <p class="caption"></p>
            <ul>
              <li><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><a href="https://www.linkedin.com/in/woosuk-seo-b7aa75109?trk=hp-identity-name" target="_blank">Woosuk Seo</a></li>
              <li><i class="fa fa-mobile fa-3x" aria-hidden="true"></i><a href="tel:206-310-9264">206-310-9264</a></li>
              <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><a href="mailto:seow@uw.edu">seow@uw.edu</a></li>
              <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><a href="mailto:seow@uw.edu">seow@uw.edu</a></li>
            </ul>
        </div>
      </section> 
</div>      